aioamqp==0.10.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aioqueue==0.3.0
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.7.0
attrs==24.2.0
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
cn2an==0.5.23
colorama==0.4.6
coloredlogs==15.0.1
constantly==23.10.4
cryptography==45.0.5
cssselect==1.2.0
DataRecorder==3.6.2
ddddocr==1.5.5
defusedxml==0.7.1
distro==1.9.0
DownloadKit==2.0.7
DrissionPage==4.1.0.18
et_xmlfile==2.0.0
filelock==3.18.0
Flask==3.1.1
flatbuffers==24.3.25
frozenlist==1.5.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
httpcore==1.0.7
httpx==0.28.0
humanfriendly==10.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.0
jmespath==1.0.1
lxml==5.3.0
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.1.0
numpy==2.1.1
onnxruntime==1.19.2
openai==1.66.3
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.1
parsel==1.9.1
pefile==2023.2.7
pillow==10.4.0
priority==1.3.0
proces==0.1.7
propcache==0.2.1
Protego==0.3.1
protobuf==5.28.2
psutil==7.0.0
py-mini-racer==0.6.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic_core==2.27.1
PyDispatcher==2.0.7
PyExecJS==1.5.1
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyMySQL==1.1.1
pyOpenSSL==25.1.0
pyreadline3==3.5.4
PySocks==1.7.1
python-docx==1.1.2
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
queuelib==1.7.0
redis==6.2.0
requests==2.32.3
requests-file==2.1.0
Scrapy==2.13.3
scrapy-drissionpage==1.0.3
selenium==4.5.0
service-identity==24.2.0
setuptools==75.6.0
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
sympy==1.13.3
tldextract==5.1.3
tqdm==4.67.1
trio==0.26.2
trio-websocket==0.11.1
Twisted==25.5.0
twisted-iocpsupport==1.0.4
typing_extensions==4.12.2
u-msgpack-python==2.4.1
urllib3==1.26.20
w3lib==2.2.1
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.18.3
zope.interface==7.1.1
